<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458912438306-6499vjq7armt6ac3o207lt7jsuba38se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458912438306-6499vjq7armt6ac3o207lt7jsuba38se</string>
	<key>API_KEY</key>
	<string>AIzaSyBjsOOqVZX_MTq2u8LV8Yd2AOPm79VSfUA</string>
	<key>GCM_SENDER_ID</key>
	<string>458912438306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authWithFirebaseSimulator</string>
	<key>PROJECT_ID</key>
	<string>fir-firebase-emulator</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firebase-emulator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458912438306:ios:a31471064f72ea900c127b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-firebase-emulator-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>